# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=
DIRECT_URL=
ENVIRONMENT=development
JWT_AUTH_TOKEN_SECRET=jwt_auth_token_secret
JWT_AUTH_TOKEN_EXPIRES_IN=5h
JWT_REFRESH_TOKEN_SECRET=jwt_refresh_token_secret
JWT_REFRESH_TOKEN_EXPIRES_IN=1w
DOMAIN=localhost
ADMIN_PASSWORD=admin
GOOGLE_CLOUD_PROJECT_ID=google_cloud_project_id
DATABASE_ID=database_id
